{% extends "base.html" %}

{% block title %}
Categories {{ super() }}
{% endblock %}

{% block banner_header %}
<section class=" p-takeover--grad">
  <div class="row_u main container is-loaded">
    <h1 id="takeover-title"><i class="fa fa-folder-open"></i> Categories</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
  {% for category, articles in categories|sort %}
  <tr>
    <td><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></td>
    <td>{{ articles|count }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}