{% extends "base.html" %}

{% block title %}
Authors {{ super() }}
{% endblock %}

{% block banner_header %}
<section class=" p-takeover--grad">
  <div class="row_u main container is-loaded">
    <h1 id="takeover-title"><i class="fa fa-user"></i> Authors</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
  {% for author, articles in authors|sort %}
  <tr>
    <td><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></td>
    <td>{{ articles|count }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}