{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ page.summary|striptags }}">
{% endblock %}

{% block title %}
  {{ page.title|striptags }} {{ super() }}
{% endblock %}

{% block banner_header %}
<section class=" p-takeover--grad">
  <div class="row_u is-loaded">
      <h1 id="takeover-title">{{ page.title }}</h1>
  </div>
</section>
{% endblock %}

{% block content %}
  <article class="article">
    <div class="content">
      {{ page.content }}
    </div>
  </article>
{% endblock %}
